<body>
  <img src="../../../assets/image/Logo_TillotomaFoundation.jpg" alt="ss" />
  <br />
  <div>BE PART</div>
  <div>
    <span>OF<b style="margin-left: 15px">TILLOTOMA FOUNDATION</b> </span>
  </div>
  <br />
  <h2>WELCOME!!</h2>

  <h4 style="padding-top: 20px"><b>Please Login To Continue</b></h4>
  <button
    class="btn btn-warning"
    routerLink="/admindashboard"
    routerLinkActivate="active"
  >
    ADMIN</button
  ><i
    class="far fa-question-circle fa-xxs sobutton"
    style="color: #f0ad4e; font-size: 20px; margin-left: 10px"
  ></i>
  <br />
  <button
    class="btn btn-warning"
    routerLink="/facultydashboard"
    routerLinkActivate="active"
  >
    FACULTY</button
  ><i
    class="far fa-question-circle fa-xxs sobutton"
    style="color: #f0ad4e; font-size: 20px; margin-left: 10px"
  ></i>
  <br />
  <button
    class="btn btn-warning"
    routerLink="/studentdashboard"
    routerLinkActivate="active"
  >
    STUDENT</button
  ><i
    class="far fa-question-circle fa-xxs sobutton"
    style="color: #f0ad4e; font-size: 20px; margin-left: 10px"
  ></i>
</body>
